<header class="HeaderPrincipal">
    <header class="internoCentral">
        <a href="" class="logotipo">Logo</a>
		<div class="BlocoSUS">
        </div>
    </header><!-- internoCentral END -->
</header><!-- HeaderPrincipal END -->
<nav class="NavBar">
    <ul>
        <li>    
            <a id="nav01" href="admin.html">Página Inicial</a>
        </li>
        <li>
            <a id="nav02" href="">Cadastro</a>
            <ul>
                <li>
                    <a href="cad_usuarios.html">Usuário</a>
                </li>                
                <li>
                    <a href="cad_produtos.html">Produtos</a>
                </li>
				<li>
                    <a href="cad_produtosgrupo.html">Grupos de produtos</a>
                </li>
            </ul>
        </li>
        <li>
            <a id="nav03" href="busca.html">Buscar Produtos</a>
        </li>
		<li>
            <a id="nav04" href="rel_unidade.html">Relatório</a>
        </li>
        <li>
            <a id="nav06" href="deslogar.html">Sair</a>
        </li>
    </ul>      
</nav>