<div class="fundo_1">
<?php include "cabecalho.html" ?>
<div class="container content ContentInterna">
<div id="titulo">
    <b>Cadastro de usuário</b>
</div>
<article>
<div class="info">
    <form id="cadastrar" name="cadastrar">
    <div class="espacamento" name="#1">
        <legend>1 - Nome</legend>
        <input type="text" id="nome" name="nome" class="maiusculo">
    </div>
    <div class="espacamento" name="#2">
        <legend>2 - Usuário</legend>
        <input type="text" name="usuario" id="cd_usuario">
    </div>
    <div class="espacamento" name="#3">
        <legend>3 - Senha</legend>
        <input type="password" name="senha" id="senha">
    </div>
        <input type="hidden" name="req" id="req" value="cadastrar">
        <input type="submit" name="salvar" id="salvar" value="Salvar">
    </form>
</div>
</article>
<div class="clear"></div>
</div><!-- container END -->    
</div>