<div class="fundo_1">
<?php include "cabecalho.html" ?>
<div class="container content ContentInterna">
<div id="titulo">
    <b>Cadastro de Produto</b>
</div>
<article>
<div class="info">
    <form id="cadastrar" name="cadastrar">
    <div class="espacamento" name="#1">
        <legend>1 - Codigo</legend>
        <input type="text" id="codigo" name="codigo" class="maiusculo">
    </div>
    <div class="espacamento" name="#2">
        <legend>2 - Descricao</legend>
        <input type="text" id="descricao" name="descricao">
    </div>    
    <div class="espacamento" name="#3">
        <legend>3 - Código de Barras</legend>
        <input type="text" name="codigobarras" id="codigobarras">
    </div>
    <div class="espacamento" name="#4">
        <legend>4 - Grupo</legend>
        <select><option value=""></option></select>
    </div> 
        <input type="hidden" name="req" id="req" value="cadproduto">
        <input type="submit" name="salvar" id="salvar" value="Salvar">
    </form>
</div>
</article>
<div class="clear"></div>
</div><!-- container END -->    
</div>